<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="~/Content/css/vendor/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- favicon -->
    <link rel="icon" href="favicon.ico">
    <title>Westeros | Acceuil</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div id="header-top-wrap">
            <!-- HEADER TOP -->
            <section id="header-top" class="clearfix">
                <p class="contact">
                    Des Questions? Besoin D'aide ? Contactez-nous :
                    <a href="mailto:questions@westeroscc.com">questions@westeroscc.com</a>
                </p>

                @Html.Partial("_LoginPartial")
                

            </section>
            <!-- /HEADER TOP -->
        </div>

        <div id="header-bottom-wrap">
            <!-- HEADER BOTTOM -->
            <section id="header-bottom">
                <!-- LOGO -->
                <div class="logo-container">
                    <a href="index.html">
                        <figure class="logo">
                            <img src="~/images/logo.png" alt="logo">
                            <figcaption>Westeros</figcaption>
                        </figure>
                    </a>
                </div>
                <!-- /LOGO -->

            </section>
            <!-- /HEADER BOTTOM -->
        </div>

        <!-- WESTEROS SEPARATOR -->
        <ul class="westeros-separator small">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <!-- /WESTEROS SEPARATOR -->
    </header>
    <!-- /HEADER -->
    <!-- MOBILE MENU COVER -->
    <div class="mobile-menu-cover"></div>
    <!-- /MOBILE MENU COVER -->
    <!-- MOBILE MENU -->
    <nav class="mobile-menu">
        <img src="~/images/logo-footer.png" alt="logo">
        <!-- SVG PLUS -->
        <svg class="svg-plus pull-nav">
            <use xlink:href="#svg-plus"></use>
        </svg>
        <!-- /SVG PLUS -->
        <!-- MENU LIST -->
        <ul>
            <li>
                @Html.ActionLink("Accueil", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Toutes les Categories", "Index", "Categories")
            </li>
            <li>
                @Html.ActionLink("Mon Panier", "Panier", "Commandes")
            </li>
            <li>
                @Html.ActionLink("Convertisseur", "Convertisseur", "Home")
            </li>
            <li>
                @Html.ActionLink("Commandes", "Index", "Commandes")
            </li>
        </ul>
        <!-- /MENU LIST -->
    </nav>
    <!-- /MOBILE MENU -->
    <!-- MAIN MENU -->
    <nav id="main-menu">
        <img class="pull-nav" src="~/images/icons/pull-icon.png" alt="pull-icon">
        <ul>
            <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
            <li>
                @Html.ActionLink("Toutes les Categories", "Index", "Categories")
            </li>
            <li>@Html.ActionLink("Mon Panier", "Panier", "Commandes")</li>
            <li>@Html.ActionLink("Convertisseur", "Convertisseur", "Home")</li>
            <li>@Html.ActionLink("Commandes", "Index", "Commandes")</li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <!-- /MAIN MENU -->


    @RenderBody();



    <!-- FOOTER -->
    <footer>
        <div id="footer-top-wrap">
            <section id="footer-top" class="clearfix">
                <article>
                    <h6>About Westeros</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur  latid adipisicing elit, sed do eiusmod tem edne
                        incididunt ut labore.
                    </p>
                    <!-- LOGO -->
                    <a href="index.html">
                        <figure class="logo">
                            <img src="~/images/logo-footer.png" alt="logo">
                            <figcaption>Westeros</figcaption>
                        </figure>
                    </a>
                    <!-- /LOGO -->
                    <!-- CONTACT INFO -->
                    <ul class="contact-info">
                        <li class="address">
                            <!-- SVG PIN -->
                            <svg class="svg-pin">
                                <use xlink:href="#svg-pin"></use>
                            </svg>
                            <!-- /SVG PIN -->
                            <p>34th Street 1235, New York, NY</p>
                        </li>
                        <li class="phone">
                            <!-- SVG PHONE -->
                            <svg class="svg-phone">
                                <use xlink:href="#svg-phone"></use>
                            </svg>
                            <!-- /SVG PHONE -->
                            <p>(044) 555 123 1234/35</p>
                        </li>
                        <li class="email">
                            <!-- SVG ENVELOPE -->
                            <svg class="svg-envelope">
                                <use xlink:href="#svg-envelope"></use>
                            </svg>
                            <!-- /SVG ENVELOPE -->
                            <p><a href="mailto:questions@westeroscc.com">questions@westeroscc.com</a></p>
                        </li>
                    </ul>
                    <!-- /CONTACT INFO -->
                    <!-- PAYMENT METHODS -->
                    <ul class="payment-methods">
                        <!-- METHOD -->
                        <li>
                            <img src="~/images/payment/method1.jpg" alt="method1">
                        </li>
                        <!-- /METHOD -->
                        <!-- METHOD -->
                        <li>
                            <img src="~/images/payment/method2.jpg" alt="method2">
                        </li>
                        <!-- /METHOD -->
                        <!-- METHOD -->
                        <li>
                            <img src="~/images/payment/method3.jpg" alt="method3">
                        </li>
                        <!-- /METHOD -->
                        <!-- METHOD -->
                        <li>
                            <img src="~/images/payment/method4.jpg" alt="method4">
                        </li>
                        <!-- /METHOD -->
                        <!-- METHOD -->
                        <li>
                            <img src="~/images/payment/method5.jpg" alt="method5">
                        </li>
                        <!-- /METHOD -->
                        <!-- METHOD -->
                        <li>
                            <img src="~/images/payment/method6.jpg" alt="method6">
                        </li>
                        <!-- /METHOD -->
                    </ul>
                    <!-- /PAYMENT METHODS -->
                </article>

                <article>
                    <h6>Site Information</h6>
                    <nav id="footer-menu">
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                                <!-- SVG ARROW -->
                                <svg class="svg-arrow">
                                    <use xlink:href="#svg-arrow"></use>
                                </svg>
                                <!-- /SVG ARROW -->
                            </li>
                            <li>
                                <a href="profile.html">My Account</a>
                                <!-- SVG ARROW -->
                                <svg class="svg-arrow">
                                    <use xlink:href="#svg-arrow"></use>
                                </svg>
                                <!-- /SVG ARROW -->
                            </li>
                            <li>
                                <a href="cart.html">My Cart</a>
                                <!-- SVG ARROW -->
                                <svg class="svg-arrow">
                                    <use xlink:href="#svg-arrow"></use>
                                </svg>
                                <!-- /SVG ARROW -->
                            </li>
                            <li>
                                <a href="#">New Arrivals</a>
                                <!-- SVG ARROW -->
                                <svg class="svg-arrow">
                                    <use xlink:href="#svg-arrow"></use>
                                </svg>
                                <!-- /SVG ARROW -->
                            </li>
                            <li>
                                <a href="blog.html">Our Blog</a>
                                <!-- SVG ARROW -->
                                <svg class="svg-arrow">
                                    <use xlink:href="#svg-arrow"></use>
                                </svg>
                                <!-- /SVG ARROW -->
                            </li>
                            <li>
                                <a href="#">How to Shop</a>
                                <!-- SVG ARROW -->
                                <svg class="svg-arrow">
                                    <use xlink:href="#svg-arrow"></use>
                                </svg>
                                <!-- /SVG ARROW -->
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                                <!-- SVG ARROW -->
                                <svg class="svg-arrow">
                                    <use xlink:href="#svg-arrow"></use>
                                </svg>
                                <!-- /SVG ARROW -->
                            </li>
                        </ul>
                    </nav>
                </article>

                <article>
                    <h6>Featured Products</h6>
                    <!-- PRODUCT PREVIEW -->
                    <ul class="product-preview">
                        <li>
                            <a href="full-view.html">
                                <figure class="liquid">
                                    <img src="~/images/items/02.png" alt="product1">
                                </figure>
                            </a>
                            <a href="women-shop.html"><p class="highlighted category">T-Shirts</p></a>
                            <a href="full-view.html"><h6>Crazy Bunny</h6></a>
                            <!-- RATING -->
                            <ul class="rating">
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li>
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                            </ul>
                            <!-- /RATING -->
                            <p class="highlighted current">$86.00</p>
                        </li>

                        <li>
                            <a href="full-view.html">
                                <figure class="liquid">
                                    <img src="~/images/items/25.png" alt="product2">
                                </figure>
                            </a>
                            <a href="women-shop.html"><p class="highlighted category">T-Shirts</p></a>
                            <a href="full-view.html"><h6>Happy Doughnut</h6></a>
                            <!-- RATING -->
                            <ul class="rating">
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li>
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                            </ul>
                            <!-- /RATING -->
                            <p class="highlighted current">$49.00</p>
                            <p class="highlighted previous">$61.25</p>
                        </li>

                        <li>
                            <a href="full-view.html">
                                <figure class="liquid">
                                    <img src="~/images/items/32.png" alt="product3">
                                </figure>
                            </a>
                            <a href="women-shop.html"><p class="highlighted category">Custom Sneakers</p></a>
                            <a href="full-view.html"><h6>The Devil Walks</h6></a>
                            <!-- RATING -->
                            <ul class="rating">
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li>
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                            </ul>
                            <!-- /RATING -->
                            <p class="highlighted current">$43.00</p>
                        </li>
                    </ul>
                    <!-- /PRODUCT PREVIEW -->
                </article>

                <article>
                    <h6>Latest Products</h6>
                    <!-- PRODUCT PREVIEW -->
                    <ul class="product-preview">
                        <li>
                            <a href="full-view.html">
                                <figure class="liquid">
                                    <img src="~/images/items/31.png" alt="product1">
                                </figure>
                            </a>
                            <a href="men-shop.html"><p class="highlighted category">Custom Sneakers</p></a>
                            <a href="full-view.html"><h6>Crazy-R Chucks</h6></a>
                            <!-- RATING -->
                            <ul class="rating">
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li>
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                            </ul>
                            <!-- /RATING -->
                            <p class="highlighted current">$57.00</p>
                        </li>

                        <li>
                            <a href="full-view.html">
                                <figure class="liquid">
                                    <img src="~/images/items/16.png" alt="product1">
                                </figure>
                            </a>
                            <a href="men-shop.html"><p class="highlighted category">T-Shirts</p></a>
                            <a href="full-view.html"><h6>The Devil Pin 02</h6></a>
                            <!-- RATING -->
                            <ul class="rating">
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li>
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                            </ul>
                            <!-- /RATING -->
                            <p class="highlighted current">$54.00</p>
                        </li>

                        <li>
                            <a href="full-view.html">
                                <figure class="liquid">
                                    <img src="~/images/items/07.png" alt="product1">
                                </figure>
                            </a>
                            <a href="women-shop.html"><p class="highlighted category">T-Shirts</p></a>
                            <a href="full-view.html"><h6>Robo Planet</h6></a>
                            <!-- RATING -->
                            <ul class="rating">
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li class="filled">
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                                <li>
                                    <!-- SVG STAR -->
                                    <svg class="svg-star">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                    <!-- /SVG STAR -->
                                </li>
                            </ul>
                            <!-- /RATING -->
                            <p class="highlighted current">$105.00</p>
                        </li>
                    </ul>
                    <!-- /PRODUCT PREVIEW -->
                </article>
            </section>
        </div>
        <div id="footer-bottom-wrap">
            <section id="footer-bottom">
                <p><a href="index.html">Westeros Custom Clothing</a> <br> <span>|</span> All Rights Reserved 2018</p>
                <!-- SOCIAL LINKS -->
                <ul class="social-links">
                    <li class="fb"><a href="#"></a></li>
                    <li class="twt"><a href="#"></a></li>
                    <li class="gplus"><a href="#"></a></li>
                    <li class="db"><a href="#"></a></li>
                    <li class="rss"><a href="#"></a></li>
                    <li class="vm"><a href="#"></a></li>
                    <li class="fk"><a href="#"></a></li>
                </ul>
                <!-- /SOCIAL LINKS -->
            </section>
        </div>
    </footer>

    @Html.Partial("SVGs")

    <!-- jQuery -->
    <script src="~/Scripts/js/vendor/jquery-1.11.1.min.js"></script>
    <!-- XM Accordion -->
    <script src="~/Scripts/js/vendor/jquery.xmaccordion.min.js"></script>
    <!-- Owl Carrousel -->
    <script src="~/Scripts/js/vendor/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Scripts/js/vendor/jquery.magnific-popup.min.js"></script>
    <!-- imgLiquid -->
    <script src="~/Scripts/js/vendor/imgLiquid-min.js"></script>
    <!-- Header -->
    <script src="~/Scripts/js/header.js"></script>
    <!-- Menu -->
    <script src="~/Scripts/js/menu.js"></script>
    <!-- Home -->
    <script src="~/Scripts/js/home.js"></script>
</body>
</html>
