@model ProjetAspMvc.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <div class="col-sm-6" style="float:left">
        <img src="@Url.Content(Model.photo)"  class="img-rounded "  />
    </div>
    <dl class="dl-horizontal" style="float:left">
        <dt>
            @Html.DisplayNameFor(model => model.categorie.nomcat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorie.nomcat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>

        </dd>

    </dl>
</div>
<div style="clear:left"></div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NumArticle }) |
    @Html.ActionLink("Back to List", "Index")
</p>
