@model IEnumerable<ProjetAspMvc.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            Nom
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            Prix Unitaire
                </th>
        <th>
            Stock
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.photo)" width="70" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categorie.nomcat, new { htmlAttributes = new { @class = "text-center" } })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.NumArticle }) |
            @Html.ActionLink("Details", "Details", new { id = item.NumArticle }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NumArticle })
        </td>
    </tr>
}

</table>
